/* Add CSS Styling */

.odd-number{
    background-color: rgb(255, 164, 164);
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#two {
    color: blue;
    font-size: 36px;
}

.three {
    font-size: 24px;
}

#four{
    background-color: rgb(126, 252, 126);
    font-size: 24px;
    font-weight: bold;
}