*{
  font-size: 16px;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 12px;
}

.title {
  background: #e3f4ff;
  padding: 5px;
}

.content {
  background: #e3f4ff;
  padding: 12px;
}

.button-container {
  background: #e3f4ff;
  padding: 12px;
  margin-top: 16px;
  align-content: center;
}

button {
  background: white;
  border: solid #ffffff;
  padding: 12px 20px 12px 20px;
  margin: 16px auto;
}